.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 50px;
}

.title {
  color: $headlines-text-color;
}

.text {
  color: $primery-text-color;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  // min-width: 200px;
  border: 0;
  cursor: pointer;

  color: $acent-text-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: color 250ms $cubic, background-color 250ms $cubic;

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
    background-color: $primery-bg-color;

    .icon {
      fill: $accent-color;
    }
  }
}

// .logo {
//   color: $accent-color;

//   font-family: Raleway, sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.2;
//   font-style: normal;
// }
// .sub-logo {
//   color: $logo-black-color;
// }

// .footer-logo {
//   color: $acent-text-color;

//   font-style: normal;
//   font-weight: 700;
//   font-size: 22px;
//   line-height: 1.2;
// }
