.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 0;
  cursor: pointer;

  color: $acent-text-color;
  background-color: $accent-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: color 250ms $cubic, background-color 250ms $cubic;

  &:hover,
  &:focus,
  &:active {
    color: $accent-color;
    background-color: $primery-bg-color;

    .icon {
      fill: $accent-color;
    }
  }
}
