.footer {
  background-color: $fooetr-bg-color;
}

.footer-box {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .subscribe {
    margin-left: auto;
  }
}

.footer-logo {
  display: block;

  width: 141px;
  height: 19px;

  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $desktop) {
    margin: 0px;
  }
}

.footer-text {
  margin-top: 20px;

  color: $acent-text-color;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-title {
  margin-top: 60px;
  margin-bottom: 20px;

  color: $acent-text-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    margin-top: 0;
  }

  @media screen and (min-width: $desktop) {
    text-align: start;
  }
}

.footer-p {
  padding-top: 8px;

  @media screen and (min-width: $desktop) {
    text-align: start;
  }
}

.footer-address {
  color: $footer-address-color;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $acent-text-color;
  }
}

.join .list {
  display: flex;

  justify-content: space-between;

  padding: 0 107px;

  @media screen and (min-width: $tablet) {
    padding: 0;
  }
}

.join .item:not(:last-child) {
  margin-right: 10px;
}

.join .link {
  display: block;
  height: 44px;
}

.join .icon {
  fill: $acent-text-color;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $desktop) {
    flex-direction: row;
    align-items: baseline;
  }
}

.subscribe-input {
  display: block;
  width: 100%;
  padding: 18px 12px;
  max-height: 50px;

  @media screen and (min-width: $desktop) {
    min-width: 358px;
    margin-right: 12px;
  }

  background-color: $fooetr-bg-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: border 250ms $cubic;
  outline: none;
  margin-bottom: 20px;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    max-width: 450px;
  }

  &:focus {
    border: 1px solid $accent-color;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: $footer-address-color;
  }
}

.subscribe .button {
  display: flex;
  align-items: center;
}

@media screen and (min-width: $tablet) {
  .tablet {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 60px;
    padding-right: 75px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: $desktop) {
  .tablet {
    padding: 0px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: $desktop) {
  .tablet .join {
    margin-left: 70px;
  }
}

.subscribe .icon {
  margin-left: 10px;
  fill: $primery-bg-color;
}

.copyright {
  padding-top: 18px;
  padding-bottom: 21px;

  color: rgba(255, 255, 255, 0.4);

  font-size: 12px;
  line-height: 2;
  text-align: center;
}
