$primery-text-color: #757575;
$headlines-text-color: #212121;
$acent-text-color: #fff;
$primery-bg-color: $acent-text-color;
$accent-color: #2196f3;
$secondary-bg-color: #f5f4fa;
$fooetr-bg-color: #2f303a;
$hero-bg-color: rgba(47, 48, 58, 0.8);
$portfolio-bg-color: rgba(33, 150, 243, 0.9);
$logo-black-color: #000000;
$icon-color: #afb1b8;
$secondary-bg-color: #f5f4fa;
$footer-address-color: rgba(255, 255, 255, 0.6);

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
