.main-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client {
  display: flex;
  justify-content: space-between;

  .link {
    display: flex;
    width: 170px;
    height: 90px;
    border: 1px solid $icon-color;
    color: $icon-color;
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    transition: color 250ms $cubic, border 250ms $cubic;

    &:hover,
    &:focus {
      border: 1px solid $accent-color;
      color: $accent-color;
    }
  }
}

.client .icon {
  fill: currentColor;

  &:hover,
  &:focus {
    fill: currentColor;
  }
}
