.main-features {
  padding-top: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
  }
}

.features {
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 94px;
    border-bottom: 1px solid #ececec;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;

    margin: -15px;
  }

  .item {
    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $tablet) {
      width: calc((100% - 2 * 30px) / 2);

      margin: 15px;
    }

    @media screen and (min-width: $desktop) {
      width: calc((100% - 4 * 30px) / 4);
    }
  }

  .title {
    margin-top: 30px;
    margin-bottom: 10px;

    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  .text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.bg-icon {
  display: flex;
  background-color: $secondary-bg-color;
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}
