.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms $cubic, transform 50ms $cubic;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    transform: scale(1.08);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 528px;
  padding: 40px;
  background-color: $primery-bg-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  .header {
    font-weight: bold;
    font-size: 20px;
    color: #212121;

    margin: 0 auto 30px auto;
  }

  .close {
    position: absolute;
    right: -9px;
    top: -10px;
    width: 30px;
    height: 30px;
    padding: 6px;
    overflow: hidden;
    border: none;
    outline: none;
    cursor: pointer;

    border-radius: 50%;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    background-color: $primery-bg-color;
  }
}

.form-field {
  display: block;
  position: relative;
  margin-bottom: 28px;
}

.form-input {
  width: 100%;
  padding: 12px 16px;
  padding-left: 42px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms $cubic;
}

.label-icon {
  position: absolute;
  fill: #212121;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  transition: fill 250ms $cubic;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);

  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;

  transition: transform 250ms $cubic, color 250ms $cubic;
}

.no-margin {
  margin-bottom: 0;
}

.comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  outline: none;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms $cubic;
}

.comment-label {
  position: absolute;
  top: 12px;
  left: 16px;

  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;

  transition: transform 250ms $cubic, color 250ms $cubic;
}

.form-field:focus-within > .form-input,
.form-field:focus-within > .comment {
  border: 1px solid $accent-color;
}

.form-field:focus-within > .form-label {
  transform: translate(-22px, -40px);
  color: $accent-color;
}

.form-input:not(:placeholder-shown) ~ .form-label {
  transform: translate(-22px, -40px);
}

.form-field:focus-within > .label-icon {
  fill: $accent-color;
}

.form-field:focus-within > .comment-label {
  transform: translateY(-32px);
  color: $accent-color;
}

.comment:not(:placeholder-shown) ~ .comment-label {
  transform: translateY(-32px);
}

.modal .agreement {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.text-agreement {
  font-size: 14px;
  line-height: 1.71;
}

.check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: #212121;
}

.custom-check {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 9px;

  background-origin: border-box;
  background-image: url(../img/checked.svg);
  border: 2px solid #212121;
  border-radius: 2px;
  transition: background-color 250ms $cubic, border-color 250ms $cubic;
}

.check:checked + .custom-check {
  background-color: $accent-color;
  border-color: $accent-color;
}

.conditions {
  color: $accent-color;
}

.modal .button {
  margin: 0 auto;
  padding: 10px 55px;

  &:hover,
  &:focus,
  &:active {
    color: $headlines-text-color;
    background-color: $secondary-bg-color;
  }
}
